/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.navbar{
  border-bottom-width: 1px;
  border-bottom-color: black;
}
#sidebar {
  background-color: #ccffcc;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-style: none;
  border-width: 0px;
  border-color: green;
  min-width: 250px;
  max-width: 250px;
}

#user_name_message{
  border-bottom: solid;
  border-bottom-width: 1px;
}

#content{
  margin: 10px;
}

.page-footer-new {
  margin: 10px;
  border: solid;
  border-top-width: 1px;
  border-top-color: black;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
