<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">RoR<br>&<br>Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/articles">Блог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacts">Контакты</a>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="wrapper">
        <nav id="sidebar">
          <% if user_signed_in? %>
             <div id="user_name_message">Здравствуйте, <%= current_user.email %></div>
             <p>User's menu 1</p>
             <p>User's menu 2</p>
              <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
          <% end %>
        </nav>
        <!-- Page Content -->
        <div id="content">
          <% if notice %>
          <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
          <% if user_signed_in? %>
          <% else %>
              <%= link_to 'Войти', new_user_session_path %>
          <% end %>
             <%= yield %>
        </div>

    </div>
    <!-- Footer -->
    <footer class="page-footer-new">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright xxx </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>
</html>
